@charset "utf-8";

@font-face {font-family: Myfirst ;
src:url(ARCADECLASSIC.TTF)
}

@font-face {font-family: Vapor ;
src: url(good\ times\ rg.otf);

}

body {background-image: url(https://wallpaper.dog/large/20476422.jpg) ; background-repeat: no-repeat;  }

header {background-image: url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png);
background-repeat: no-repeat; background-position: center; border: solid rgba(61, 60, 60, 0.185);width: 400px ; margin: auto;
}

h1 {text-align: center; font-family: Vapor;}

h2 { text-align: center;}

nav {background-image: url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png);
    background-repeat: no-repeat; background-position: center; border: solid rgb(61, 60, 60, 0.185);width: 500px ; margin: auto; font-family: Vapor ; }

a { text-decoration: none; color: rgb(0, 0, 0)  }

h3  {background-image: url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png);
    background-repeat: no-repeat; background-position: center; border: solid rgba(61, 60, 60, 0.185);width: 400px ; margin: auto;
    text-align: center; font-family: vapor; }

h4 {color: white;}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; background-image:url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png); width: 225px ; height: 60px;text-align: center; border: solid rgb(0, 0, 0);  font-family: Vapor;}
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 2 / 3 / 3 / 4; background-image:url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png); width: 225px ; height: 40px;text-align: center; border: solid rgb(0, 0, 0);  font-family: Vapor;}
    .div5 { grid-area: 3 / 2 / 4 / 3; }
    .div6 { grid-area: 3 / 3 / 4 / 4;background-image:url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png); width: 225px ; height: 40px;text-align: center; border: solid rgb(0, 0, 0);  font-family: Vapor; }
    
     .div7 { grid-area: 4 / 2 / 5 / 3; }
     .div8 { grid-area: 4 / 3 / 5 / 4; background-image:url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png); width: 225px ; height: 40px;text-align: center; border: solid rgb(0, 0, 0);  font-family: Vapor;  }
     .div9 { grid-area: 5 / 2 / 6 / 3; }
     .div10 { grid-area: 5 / 3 / 6 / 4; background-image:url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png); width: 225px ; height: 40px;text-align: center; border: solid rgb(0, 0, 0);  font-family: Vapor; }



     h6 {background-image: url(https://64.media.tumblr.com/a3e2a86590b6240e518b567e611595d1/tumblr_nwwbqef8Ak1u8icemo1_500.png);
        background-repeat: no-repeat; background-position: center; border: solid rgb(0, 0, 0);width: 300px ; margin: auto;
        text-align: center; font-family: vapor;}

        .parent2 {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            }
            
            .div11 { grid-area: 1 / 3 / 2 / 4; }
            .div12 { grid-area: 2 / 3 / 3 / 4; text-align: center; font-family: vapor; }
            .div13 { grid-area: 3 / 3 / 4 / 4; text-align: center; font-family: vapor; }